:root{
  /* Allianz-hangulat */
  --primary:#005EB8;   /* fő kék */
  --secondary:#66AEEE; /* világos kék */
  --bg:#0B1E3F;        /* sötét háttér */
  --text:#EAF2FF;
  --muted:#A9B8D2;

  /* Layout */
  --container-w: 980px;
  --radius:14px;
  --header-h: 70px;
  --footer-h: 64px;
}
